.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 101px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    background-color: rgba(200, 171, 125, 1); /* Given tan color */
    z-index: 1000; /* Ensures the header is above other content */
}

.navigation {
    color: black;
    margin-right: 10rem; /* Adjusted spacing */
    text-decoration: none;
    font-size: 18px; /* Increase font size if needed */
}

.navigation a{
    font-weight: bold;
    color: black;
    margin-left: 4rem; /* Adjusted spacing */
    text-decoration: none;
    font-size: 18px; /* Increase font size if needed */
}

.navigation a:hover {
    text-decoration: underline;
    color: black;
}