.search {
    background-image: url('/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevents repeating the background image */
    height: 769px; /* Adjust based on your preference */
    width: 100vw; /* This sets the width to the full viewport width */
    display: flex;
    flex-direction: column;  
    margin-top: 3.8rem;
}

.search-bar {
    display: flex;
    margin-top: 5rem;
}

.logos-container, .search-bar-container {
    display: flex;
}

.logos-container {
    margin-left: 12.5rem;
    margin-right: 23rem;
}

.brown-logo-only-style {
    height: 56px;
    width: 56px;
}

.brown-logo-text-only-style {
    height: 70px;
}

.search-title-container{
    margin-top: 2.5rem;
    margin-left: 12.5rem;
    width: 705px;
}

.search-title {
    color: black;
}

.search-input {
    margin-top: 12.5px;
    padding-left: 10px;
    background-color: white;
    width: 700px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 1);
    color: black;
    border-radius: 7px;
}

.search-button {
    margin-top: 12.5px;
    height: 42px;
    width: 140px;
    border: none;
    background-color: rgba(60, 67, 40, 1);
    color: white; /* Button text color */
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 7px;
    cursor: pointer;
}